# Load Data

In [15]:
%pip install xlrd

Collecting xlrd
  Downloading xlrd-2.0.2-py2.py3-none-any.whl.metadata (3.5 kB)
Downloading xlrd-2.0.2-py2.py3-none-any.whl (96 kB)
Installing collected packages: xlrd
Successfully installed xlrd-2.0.2

[notice] A new release of pip is available: 25.2 -> 26.0.1
[notice] To update, run: pip3 install --upgrade pip
Note: you may need to restart the kernel to use updated packages.

In [ ]:
import pandas as pd
import xlrd
import os

data_dir = 'DATASETS'

files = [
    'CONGENITAL_SYPHILIS_CASES_REPORTED.xlsx',
    'FERTILITY_RATE_BIRTHS_PER_WOMAN.xls',
    'GOVERNMENT_HEALTH_EXPENDITURE_PER_CAPITA.xlsx',
    'HOSPITAL_BEDS_PER_10000_POPULATION.xlsx',
    'INFANT_MORTALITY_RATE_PER_1000_BIRTHS.xlsx',
    'LIFE_EXPECTANCY_AT_BIRTH.xlsx',
    'MALARIA_INCIDENCE_PER_1000_POPULATION_AT_RISK.xlsx',
    'OVERWEIGHT_PERCENTAGE_AMONG_ADULTS_AGE_STANDARDIZED.xlsx',
    'TUBERCULOSIS_INCIDENT_CASES.xlsx'
]

datasets = {}
for file in files:
    file_path = os.path.join(data_dir, file)
    if file.endswith('.xls') or file.endswith('.xlsx'):
        datasets[file] = pd.read_excel(file_path) # This line was asking for xlrd.

In [ ]:
TUBERCULOSIS_RAW =datasets.get("TUBERCULOSIS_INCIDENT_CASES.xlsx")
TUBERCULOSIS_RAW.head()

#Cooked

,Applied filters:\nLocation type is Country\nIndicatorCode is TB_e_inc_num\nLANGUAGE_CODE is en,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 24,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31,Unnamed: 32,Unnamed: 33
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,IndicatorCode,Indicator,ValueType,ParentLocationCode,ParentLocation,Location type,SpatialDimValueCode,Location,Period type,Period,...,FactValueUoM,FactValueNumericLowPrefix,FactValueNumericLow,FactValueNumericHighPrefix,FactValueNumericHigh,Value,FactValueTranslationID,FactComments,Language,DateModified
2,TB_e_inc_num,Number of incident tuberculosis cases,numeric,AFR,Africa,Country,AGO,Angola,Year,2024,...,NaN,NaN,92000,NaN,207000,141 000 [92 000-207 000],NaN,NaN,EN,2025-11-11 00:00:00
3,TB_e_inc_num,Number of incident tuberculosis cases,numeric,AFR,Africa,Country,AGO,Angola,Year,2023,...,NaN,NaN,92000,NaN,205000,141 000 [92 000-205 000],NaN,NaN,EN,2025-11-11 00:00:00
4,TB_e_inc_num,Number of incident tuberculosis cases,numeric,AFR,Africa,Country,AGO,Angola,Year,2022,...,NaN,NaN,88000,NaN,196000,135 000 [88 000-196 000],NaN,NaN,EN,2025-11-11 00:00:00