In [13]:
import pandas as pd

In [14]:
# Load the fertility rate dataset
df = pd.read_excel('../DATASETS/FERTILITY_RATE_BIRTHS_PER_WOMAN.xls')
df

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2015,2016,2017,2018,2019,2020,2021,2022,2023,2024
0,Aruba,ABW,"Fertility rate, total (births per woman)",SP.DYN.TFRT.IN,4.567000,4.422000,4.262000,4.107000,3.940000,3.797000,...,1.899000,1.848000,1.785000,1.732000,1.701000,1.662000,1.631000,1.615000,1.602000,NaN
1,Africa Eastern and Southern,AFE,"Fertility rate, total (births per woman)",SP.DYN.TFRT.IN,6.650310,6.667308,6.688246,6.709226,6.724930,6.737459,...,4.676508,4.615744,4.569884,4.521443,4.471338,4.412973,4.350683,4.287033,4.223820,NaN
2,Afghanistan,AFG,"Fertility rate, total (births per woman)",SP.DYN.TFRT.IN,7.282000,7.284000,7.292000,7.302000,7.304000,7.305000,...,5.652000,5.542000,5.433000,5.327000,5.238000,5.145000,5.039000,4.932000,4.840000,NaN
3,Africa Western and Central,AFW,"Fertility rate, total (births per woman)",SP.DYN.TFRT.IN,6.468887,6.478351,6.492277,6.500229,6.516739,6.532766,...,5.346596,5.228976,5.098885,4.962571,4.829134,4.707399,4.637741,4.563354,4.497707,NaN
4,Angola,AGO,"Fertility rate, total (births per woman)",SP.DYN.TFRT.IN,6.708000,6.790000,6.872000,6.954000,7.036000,7.116000,...,5.774000,5.686000,5.600000,5.519000,5.442000,5.371000,5.304000,5.209000,5.124000,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
261,Kosovo,XKX,"Fertility rate, total (births per woman)",SP.DYN.TFRT.IN,6.359000,6.314000,6.244000,6.176000,6.112000,6.035000,...,1.763000,1.641000,1.618000,1.581000,1.575000,1.567000,1.561000,1.555000,1.545000,NaN
262,"Yemen, Rep.",YEM,"Fertility rate, total (births per woman)",SP.DYN.TFRT.IN,7.988000,8.000000,8.010000,8.028000,8.071000,8.101000,...,4.617000,4.613000,4.610000,4.607000,4.603000,4.600000,4.597000,4.593000,4.590000,NaN
263,South Africa,ZAF,"Fertility rate, total (births per woman)",SP.DYN.TFRT.IN,6.105000,6.080000,6.046000,6.012000,5.955000,5.892000,...,2.359000,2.261000,2.283000,2.270000,2.264000,2.257000,2.248000,2.227000,2.216000,NaN
264,Zambia,ZMB,"Fertility rate, total (births per woman)",SP.DYN.TFRT.IN,6.947000,6.982000,7.012000,7.060000,7.085000,7.116000,...,4.775000,4.669000,4.567000,4.492000,4.418000,4.323000,4.246000,4.175000,4.101000,NaN
265,Zimbabwe,ZWE,"Fertility rate, total (births per woman)",SP.DYN.TFRT.IN,7.195000,7.212000,7.231000,7.230000,7.230000,7.231000,...,3.911000,3.828000,3.768000,3.744000,3.748000,3.754000,3.765000,3.767000,3.724000,NaN

In [3]:
# Inspect column names
print("Column names:")
print(df.columns.tolist())

Column names:
['Country Name', 'Country Code', 'Indicator Name', 'Indicator Code', '1960', '1961', '1962', '1963', '1964', '1965', '1966', '1967', '1968', '1969', '1970', '1971', '1972', '1973', '1974', '1975', '1976', '1977', '1978', '1979', '1980', '1981', '1982', '1983', '1984', '1985', '1986', '1987', '1988', '1989', '1990', '1991', '1992', '1993', '1994', '1995', '1996', '1997', '1998', '1999', '2000', '2001', '2002', '2003', '2004', '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015', '2016', '2017', '2018', '2019', '2020', '2021', '2022', '2023', '2024']

In [4]:
# Count NAs
print("NA count per column:")
print(df.isna().sum())

NA count per column:
Country Name        0
Country Code        0
Indicator Name      0
Indicator Code      0
1960                2
                 ...
2020                1
2021                1
2022                1
2023                1
2024              266
Length: 69, dtype: int64

In [15]:
# Reshape the dataset from wide to long format
# Keep country info columns and melt year columns into a single column
df_long = pd.melt(
    df,
    id_vars=['Country Name', 'Country Code', 'Indicator Name', 'Indicator Code'],
    var_name='Year',
    value_name='Fertility_Rate'
)

# Convert Year to integer
df_long['Year'] = df_long['Year'].astype(int)

df_long

,Country Name,Country Code,Indicator Name,Indicator Code,Year,Fertility_Rate
0,Aruba,ABW,"Fertility rate, total (births per woman)",SP.DYN.TFRT.IN,1960,4.567000
1,Africa Eastern and Southern,AFE,"Fertility rate, total (births per woman)",SP.DYN.TFRT.IN,1960,6.650310
2,Afghanistan,AFG,"Fertility rate, total (births per woman)",SP.DYN.TFRT.IN,1960,7.282000
3,Africa Western and Central,AFW,"Fertility rate, total (births per woman)",SP.DYN.TFRT.IN,1960,6.468887
4,Angola,AGO,"Fertility rate, total (births per woman)",SP.DYN.TFRT.IN,1960,6.708000
...,...,...,...,...,...,...
17285,Kosovo,XKX,"Fertility rate, total (births per woman)",SP.DYN.TFRT.IN,2024,NaN
17286,"Yemen, Rep.",YEM,"Fertility rate, total (births per woman)",SP.DYN.TFRT.IN,2024,NaN
17287,South Africa,ZAF,"Fertility rate, total (births per woman)",SP.DYN.TFRT.IN,2024,NaN
17288,Zambia,ZMB,"Fertility rate, total (births per woman)",SP.DYN.TFRT.IN,2024,NaN
17289,Zimbabwe,ZWE,"Fertility rate, total (births per woman)",SP.DYN.TFRT.IN,2024,NaN

In [16]:
# Load the government health expenditure dataset
df_gov = pd.read_excel('../DATASETS/GOVERNMENT_HEALTH_EXPENDITURE_PER_CAPITA.xlsx')
df_gov

,IndicatorCode,Indicator,ParentLocation,SpatialDimValueCode,Location,Period,FactValueNumeric
0,GHED_GGHE-D_pc_US_SHA2011,Domestic general government health expenditure...,Africa,AGO,Angola,2023,33.87
1,GHED_GGHE-D_pc_US_SHA2011,Domestic general government health expenditure...,Africa,AGO,Angola,2022,52.25
2,GHED_GGHE-D_pc_US_SHA2011,Domestic general government health expenditure...,Africa,AGO,Angola,2021,37.06
3,GHED_GGHE-D_pc_US_SHA2011,Domestic general government health expenditure...,Africa,AGO,Angola,2020,29.04
4,GHED_GGHE-D_pc_US_SHA2011,Domestic general government health expenditure...,Africa,AGO,Angola,2019,29.33
...,...,...,...,...,...,...,...
4580,GHED_GGHE-D_pc_US_SHA2011,Domestic general government health expenditure...,Western Pacific,WSM,Samoa,2004,69.70
4581,GHED_GGHE-D_pc_US_SHA2011,Domestic general government health expenditure...,Western Pacific,WSM,Samoa,2003,55.34
4582,GHED_GGHE-D_pc_US_SHA2011,Domestic general government health expenditure...,Western Pacific,WSM,Samoa,2002,55.07
4583,GHED_GGHE-D_pc_US_SHA2011,Domestic general government health expenditure...,Western Pacific,WSM,Samoa,2001,45.84
4584,GHED_GGHE-D_pc_US_SHA2011,Domestic general government health expenditure...,Western Pacific,WSM,Samoa,2000,50.58

In [7]:
# Inspect column names
print("Column names:")
print(df_gov.columns.tolist())

Column names:
['IndicatorCode', 'Indicator', 'ParentLocation', 'SpatialDimValueCode', 'Location', 'Period', 'FactValueNumeric']

In [8]:
# Count NAs
print("NA count per column:")
print(df_gov.isna().sum())

NA count per column:
IndicatorCode          0
Indicator              0
ParentLocation         0
SpatialDimValueCode    0
Location               0
Period                 0
FactValueNumeric       0
dtype: int64

In [9]:
# Save both datasets to the CLEANED_DATASETS folder
df_long.to_csv('../CLEANED_DATASETS/fertility_rate_cleaned.csv', index=False)
df_gov.to_csv('../CLEANED_DATASETS/government_health_expenditure_cleaned.csv', index=False)

print("Datasets saved successfully!")
print(f"Fertility Rate: {len(df_long)} rows")
print(f"Government Health Expenditure: {len(df_gov)} rows")

Datasets saved successfully!
Fertility Rate: 17290 rows
Government Health Expenditure: 4585 rows

In [17]:
# Rename columns in fertility dataset
df_long_renamed = df_long.rename(columns={
    'Country Name': 'CountryName',
    'Country Code': 'CountryCode',
    'Indicator Name': 'IndicatorName',
    'Fertility_Rate': 'IndicatorValue'
})

# Drop Indicator Code column
df_long_renamed = df_long_renamed.drop(columns=['Indicator Code'])

print("Fertility dataset columns after renaming:")
print(df_long_renamed.columns.tolist())
df_long_renamed.head()

Fertility dataset columns after renaming:
['CountryName', 'CountryCode', 'IndicatorName', 'Year', 'IndicatorValue']

,CountryName,CountryCode,IndicatorName,Year,IndicatorValue
0,Aruba,ABW,"Fertility rate, total (births per woman)",1960,4.567000
1,Africa Eastern and Southern,AFE,"Fertility rate, total (births per woman)",1960,6.650310
2,Afghanistan,AFG,"Fertility rate, total (births per woman)",1960,7.282000
3,Africa Western and Central,AFW,"Fertility rate, total (births per woman)",1960,6.468887
4,Angola,AGO,"Fertility rate, total (births per woman)",1960,6.708000

In [18]:
# Rename columns in government spending dataset
df_gov_renamed = df_gov.rename(columns={
    'Indicator': 'IndicatorName',
    'ParentLocation': 'Region',
    'SpatialDimValueCode': 'CountryCode',
    'Location': 'Country',
    'Period': 'Year',
    'FactValueNumeric': 'IndicatorValue'
})

# Drop IndicatorCode column
df_gov_renamed = df_gov_renamed.drop(columns=['IndicatorCode'])

print("Government spending dataset columns after renaming:")
print(df_gov_renamed.columns.tolist())
df_gov_renamed.head()

Government spending dataset columns after renaming:
['IndicatorName', 'Region', 'CountryCode', 'Country', 'Year', 'IndicatorValue']

,IndicatorName,Region,CountryCode,Country,Year,IndicatorValue
0,Domestic general government health expenditure...,Africa,AGO,Angola,2023,33.87
1,Domestic general government health expenditure...,Africa,AGO,Angola,2022,52.25
2,Domestic general government health expenditure...,Africa,AGO,Angola,2021,37.06
3,Domestic general government health expenditure...,Africa,AGO,Angola,2020,29.04
4,Domestic general government health expenditure...,Africa,AGO,Angola,2019,29.33

In [19]:
# Save renamed datasets to the CLEANED_DATASETS folder
df_long_renamed.to_csv('../CLEANED_DATASETS/fertility_rate_cleaned.csv', index=False)
df_gov_renamed.to_csv('../CLEANED_DATASETS/government_health_expenditure_cleaned.csv', index=False)

print("Renamed datasets saved successfully!")
print(f"Fertility Rate columns: {df_long_renamed.columns.tolist()}")
print(f"Government Health Expenditure columns: {df_gov_renamed.columns.tolist()}")

Renamed datasets saved successfully!
Fertility Rate columns: ['CountryName', 'CountryCode', 'IndicatorName', 'Year', 'IndicatorValue']
Government Health Expenditure columns: ['IndicatorName', 'Region', 'CountryCode', 'Country', 'Year', 'IndicatorValue']