In [1]:
import pandas as pd

In [2]:
import os

data_dir = '../CLEANED_DATASETS/'

files = [
    'life_expectancy_clean.xlsx',
]

datasets = {}
for file in files:
    file_path = os.path.join(data_dir, file)
    if file.endswith('.xls') or file.endswith('.xlsx'):
        datasets[file] = pd.read_excel(file_path) # This line was asking for xlrd.

In [3]:
LIFE_EXPECTANCY =datasets.get("life_expectancy_clean.xlsx")
LIFE_EXPECTANCY.head()

,CountryName,IndicatorName,indicatorValue,Year
0,Angola,Estimated malaria incidence (per 1000 populati...,258.9,2024
1,Angola,Estimated malaria incidence (per 1000 populati...,255.5,2023
2,Angola,Estimated malaria incidence (per 1000 populati...,260.1,2022
3,Angola,Estimated malaria incidence (per 1000 populati...,258.6,2021
4,Angola,Estimated malaria incidence (per 1000 populati...,244.5,2020

In [8]:
# Rename columns
df = LIFE_EXPECTANCY.rename(columns={
    "CountryName": "country",
    "Year": "year",
    "IndicatorName": "indicator",
    "indicatorValue": "indicator_value"
})


# Reorder to match staging table
df = df[[
    "country",
    "year",
    "indicator",
    "indicator_value"
]]

In [9]:
df.to_excel("../CLEANED_DATASETS/life_expectancy_clean.xlsx", 
           index=False, 
           engine="openpyxl")